//////////////////////////////////////////////////////////////////////////////
// TITLE: 
// A!OLE2017 Feedback
//
// DESCRIPTION:
// This partial styles the A!OLE2017 footer
//////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////// FONTS ////////////////
//////////////////////////////////

.footer-container .footer { font-size: 0.8em; }
.footer-text { color:white; }
.footer-text a { color:white; text-decoration: underline; }
.footer-feedback a {
	&:before {
		content: "\f003";
		font-family:FontAwesome;
		padding-right:10px;
	}
	text-decoration: none;
	font-weight:bold;

	color:$colored-primary-heading;
}

.footer-links { color: white; }
.footer-links .fa { color:white; }


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////// STYLING //////////////
//////////////////////////////////

.footer-container{

	margin-top:0;
	padding-top:1%;
	padding-bottom:3%;
	background-color:$dark-bg;
	text-align:center;

	.widget_media_image{
		@include grid-column-position(center);
		h6{display:none;}
	}

	.footer {
		.footer-logos{
			img {
				height:120px;
				padding:10px;
			}			
		}



		.footer-text{
			div {
				margin-top:10px;
			}
			@include breakpoint(small only) {
				padding-top:10px;padding-bottom:10px;
			}
			text-align:left;
		}

		.footer-feedback {

			a {
				padding:10px;
				border-radius:5px;

				background-color:$light-bg;
			}
		}


		.footer-links {
			.fa { 
				padding-right:15px;
			}
			p {
				margin-bottom:5px;
			}

			.footer-links-container{
				text-align:left;
				.aole-some{
					border-bottom:1px solid $white;
					margin-bottom:10px;
					padding-bottom: 10px;
				}

			}
			
		}



	}

	
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////// POSITIONING //////////
//////////////////////////////////


.footer-container{

	.widget_media_image{
		@include grid-column-position(center);
	}

	.footer {
		@include grid-row();



		.footer-logos{
			@include breakpoint(small) {
				@include grid-column(12);
			}
			@include breakpoint(medium) {
				@include grid-column(4);
			}
			
		}



		.footer-text{
			@include breakpoint(small only) {
				@include grid-column(10); @include grid-column-position(center);
			}
			@include breakpoint(medium) {
				@include grid-column(4); @include grid-column-unposition;
			}

		}

		// This refers to the feedback button on the footer.
		.footer-feedback {
			@include grid-row();

			a {
				@include grid-column(12);
			}
		}

		// Social media links in the footer.

		.footer-links {
			@include breakpoint(small only) {
				@include grid-column(10); @include grid-column-position(center);
			}
			@include breakpoint(medium) {
				@include grid-column(4); @include grid-column-unposition;
			}

			.footer-links-container{
				@include grid-row();
				.aole-some{
					@include grid-column(12);
				}

				.aalto-some{
					@include grid-column(12);
				}
			}
			
		}

	}	
}

